* {
    box-sizing: border-box;
}

.bottom-button:hover {
  cursor: pointer;
  border: solid 1px whitesmoke;
}

.bottom-button:focus {
  outline: none;
}

.bold {
  font-weight: bolder;
  color: #404040;
  font-size: 16.2px;
}

.codeExample {
  color: #A8A8A8;
}

@media (min-width: 801px) {
  .bottom-button {
    color: white;
    z-index: 100;
    position: fixed;
    left: 25px;
    border-radius: 0%;
    background-color: #0079dd;
    height: 30px;
    width: 112px;
    text-shadow: 1px 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-top: none;
    border-left: none;
    font-family: teko;
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 3px;
    padding-left: 11px;
  }
}

@media (max-width: 800px) {
  .bottom-button {
    color: white;
    z-index: 100;
    border-radius: 0%;
    background-color: #0079dd;
    height: 30px;
    width: 112px;
    text-shadow: 1px 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-top: none;
    border-left: none;
    font-family: teko;
    font-size: 17px;
    letter-spacing: 2.2px;
    margin: 0px 15px;
    padding-top: 3px;
    padding-left: 11px;
  }
}
