.entries {
    margin: 170px 0px 150px 0px;
    color: 	#606060;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
  .entries {
    margin: 70px 0px 50px 0px;
  }
}
