
.entry {
    margin-bottom: 130px;
    width: 45%;
}

.entry__header {
    color: #ddb1ad;
    font-family: teko;
    letter-spacing: 2px;
    font-size: 26px;
    text-shadow: 1px 1px #E8E8E8;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.entry__title {
  margin-top: 4px;
}

.entry__links {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    margin-top: 50px;
}

.entry__links a {
    color: #006ec9;
    text-decoration: none;
}

.entry__links a:hover {
    color: silver;
}

.entry__text {
    padding-top: 50px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.entry__text_lightgray {
  color: silver;
}


@media (min-width: 425px) and (max-width: 768px) {
  .entry {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .entry {
    width: 98%;
    font-size: 14px;

  }
}




@media (max-width: 425px) {
  .entry {
    margin-bottom: 50px;
    width: 90%;
  }
  .entry__title {
    width: 100%;
    text-align: center;
  }

  .entry__header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .entry__text {
    padding-top: 20px;
    word-spacing: 1px;
  }
}
