.form-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 400; */
}

.form-modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
}

.form-card {
  height: 700px;
  width: 550px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 410;
}

.form {

}

.form input, textarea, select {
  outline: none;
  display: block;
  margin: 15px 0px;
  background: whitesmoke;
  font-size: 17px;
}

.form select {
  display: inline;
  margin: 6px;
}

.form input {
  border: none;
  border-bottom: solid 1px gainsboro;
  /* height: 30px; */
  /* background: gainsboro; */
}

.form textarea {
  border: solid 1px gainsboro;
  height: 180px;
  width: 450px;
}

.form select {
  border: solid 1px gainsboro;
}

.linksTextarea {
  height: 90px !important;
}

.send-button {
  color: #61cec7;
}

.send-button:hover {
  cursor: pointer;
}
