.form-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
}

.form-card {
  height: 90%;
  width: 550px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.form input, textarea, select {
  outline: none;
  display: block;
  margin: 15px 0px;
  background: whitesmoke;
  font-size: 17px;
}

.titleInput {
  display: inline !important;
  margin-top: 0px !important;
}

.isArticle {
  display: inline !important;
  margin-left: 12px !important;
  margin-top: 0px !important;
}

.form select {
  display: inline;
  margin: 6px;
}

.form input {
  border: none;
  border-bottom: solid 1px gainsboro;
}

.form textarea {
  border: solid 1px gainsboro;
  height: 180px;
  height: 22vh;
  width: 450px;
}

.form select {
  border: solid 1px gainsboro;
}

.linksTextarea {
  height: 60px !important;
}

.linksInput {
  display: inline !important;
  margin-right: 10px !important;
}

.send-button, .addLinkButton {
  color: #61cec7;
}

.send-button:hover, .addLinkButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
