.my-main {
  width: 100vw;
}

.add-button {
  color: #61cec7;
  position: fixed;
  left: 25px;
  bottom: 114px;
}

.add-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 800px) {
  .mobile-footer {
    background-color: gainsboro;
    border-top: solid 1px silver;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
