* {
    box-sizing: border-box;
}

.my-header {
    width: 100%;
    height: 130px;
    background-color: #006ec9;
    display: block;
    padding-top: 5px;
    text-align: center;
    font-size: 43px;
    color: whitesmoke;
    text-align: center;
    font-family: teko;
    letter-spacing: 8px;
    text-shadow: 3px 3px black;
    border-bottom: solid 1px #000;
}

.my-footer {
    width: 100%;
    height: 200px;
    background-color: #E8E8E8;
    padding-top: 80px;
    text-align: center;
    border-top: solid 1px silver;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 2px;
}

.my-footer a {
   color: #006ec9;
    text-decoration: none;
}

.my-footer a:hover {
   text-shadow: 1px 1px black;
   
}

.my-main {
    
}


/*

entries

*/

.entries {
    padding-left: 390px;
    margin: 170px 0px 150px 0px;
    color: 	#606060;
    text-align: justify;
    font-family: Roboto;
}

.entry {
    margin-bottom: 130px;
    width: 650px;
}

.entry__header {
    color: #ddb1ad;
    font-family: teko;
    letter-spacing: 2px;
    font-size: 24px;
    text-shadow: 1px 1px #E8E8E8;
    width: 100%;
}

.entry__title {
    display: inline;
}

.entry__links {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    margin-top: 50px;
}

.entry__links a {
    color: #006ec9;
    text-decoration: none;
}

.entry__links a:hover {
    color: silver;
}

.entry__text {
    padding-left: 50px;
    padding-top: 50px;
    width: 600px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.entry__tags {
    display: inline;
    float: right;
}


/*

tags-bar

*/


.tags-bar {
    text-align: center;
    margin-top: 50px;
    height: 25px;
}

.tags-bar__button {
    margin: 10px;
    width: 78px;
    height: 23px;
    color: black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-top: none;
    border-left: none;
    font-size: 13px;
    font-family: Roboto;
}

.tags-bar__button:hover {
    cursor: pointer;
    border-bottom: solid 2px whitesmoke;
    border-right: solid 2px whitesmoke;
    box-shadow: 
}

.tags-bar__button:focus {
    outline: none;
}

.tags-bar__button_php {
    background-color: #e0e1ff;
}

.tags-bar__button_js {
  background-color: #ffd633;
}

.tags-bar__button_python {
    background-color: #79d19a;
}

.tags-bar__button_css {
    background-color: #f77a27;
}

.tags-bar__button_production {
    background-color: #efe3e7;
}

.tags-bar__button_front {
    background-color: #5da0d8;
}

.tags-bar__button_back {
    background-color: #65c7d8;
}

.tags-bar__button_ai {
    background-color: #efa614;
}

.tags-bar__button_theory {
    background-color: #35a04e;
}

.tags-bar__button_general {
    background-color: salmon;
}

.tags-bar__button_config {
    background-color: #68ddcb;
}

.tags-bar__button_basics {
    background-color: #c65555;
}

/*

alphabet-bar

*/

.alphabet-bar {
    text-align: center;
    margin: 30px;
}

.alphabet-bar button {
    border: none;
    background-color: whitesmoke;
    color: #505050;
    margin: 0px 8px 0px 8px;
    font-family: Teko;
    font-size: 16px;
}

.alphabet-bar button:focus {
    outline: none;
}

.alphabet-bar button:hover {
    cursor: pointer;
    color: silver;
}