.alphabet-bar {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.alphabet-bar a {
    text-decoration: none;
    color: #505050;
    margin: 0px 14px 0px 14px;
    font-family: Teko;
    font-size: 16px;
}

.alphabet-bar a:hover {
    color: silver;
}

@media (max-width: 768px) {
  .alphabet-bar a {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .alphabet-bar a {
    font-size: 22px;
  }
}
