
.entry {
    margin-bottom: 130px;
    width: 650px;
}

.entry__header {
    color: #ddb1ad;
    font-family: teko;
    letter-spacing: 2px;
    font-size: 24px;
    text-shadow: 1px 1px #E8E8E8;
    width: 100%;
}

.entry__title {
    display: inline;
}

.entry__links {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    margin-top: 50px;
}

.entry__links a {
    color: #006ec9;
    text-decoration: none;
}

.entry__links a:hover {
    color: silver;
}

.entry__text {
    padding-left: 50px;
    padding-top: 50px;
    width: 600px;
    line-height: 30px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.entry__tags {
    display: inline;
    float: right;
}
