.showAllButton {
  color: white;
  z-index: 100;
  position: fixed;
  bottom: 60px;
  left: 25px;
  border-radius: 0%;
  background-color: #006ec9;
  height: 22px;
  width: 90px;
  text-shadow: 1px 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-top: none;
  border-left: none;
}

.showAllButton:hover {
  cursor: pointer;
  border: solid 1px white;
}

.showAllButton:focus {
  outline: none;
}
