.toggle-language {
  width: 100%;
  display: flex;
  justify-content: center;
}


.toggle-language__button {
  display: inline;
  height: 23px;
  width: 39px;
  font-family: Teko;
  background-color: gainsboro;
  color: whitesmoke;
  text-align: center;
  border: 2px solid gainsboro;
}

.toggle-language__button:hover {
  cursor: pointer;
}

.toggle-language__button_on {
  background-color: whitesmoke;
  color: #006ec9;
}
